<header class="mb-4">
  <div class="container mx-auto flex max-w-7xl flex-col items-center justify-between px-4 py-5 md:flex-row">
    <div class="flex flex-col items-center md:flex-row">
      <%= link_to root_path,
                  class: "mb-5 flex items-center font-medium text-gray-900 md:mb-0" do %>
        <span class="text-xl font-black leading-none text-gray-900 select-none">
          ボタろぐ<span class="text-green-600">.</span>
        </span>
      <% end %>

      <nav class="flex flex-wrap items-center gap-5 text-base md:ml-8 md:border-l md:border-gray-200 md:pl-8">
        <%= link_to "ホーム",
                    root_path,
                    class: "font-medium leading-6 text-gray-600 hover:text-gray-900" %>

        <%= link_to "植物一覧",
                    plant_boards_path,
                    class: "font-medium leading-6 text-gray-600 hover:text-gray-900" %>
      </nav>
    </div>

    <div class="mt-5 inline-flex items-center md:mt-0">
      <%= link_to "ログアウト",
                  logout_path,
                  class: "inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-base font-medium leading-6 text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2",
                  data: { turbo_method: :delete } %>
    </div>
  </div>
</header>
